*, body {
  background-color: #000000;
  color: #eeeeee;
}

.photo {
  max-height: 700px;
  overflow: hidden;
}

.right-box {
  border: 1px solid #eeeeee;
  padding-top: 15px;
  padding-bottom: 15px;
}
