%p#notice= notice

.container
  .row
    .col-xs-12.col-sm-6.col-md-6.left-box
      .photo
        %img(src="http://pbs.twimg.com/media/B8RnBLSCMAEA5_B.jpg")
    .col-xs-12.col-sm-6.col-md-6.right-box
      %div aaa
      %hr
      %div aaa
      %div aaa
      %div aaa
      %div aaa
